.colornav{
    background-color:#ffffff;
}

.navbar-expand .navbar-nav{
    margin: 0 auto  !important;
}

.navlinkstyle{
    margin: 0px 40px;
    text-decoration: none ;
    color:black;
}


.LoginLink{
    text-decoration: none !important;
    background-color: #31af36;
    padding: 7px 35px !important;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 300 !important;
    transition: background-color 1s ease, border-color 1s ease !important;
}

.LoginLink:hover{
    background-color: #0088ff !important;
    border-color: white !important;
    color:white;
}

