.heading{
    font-size: 26px;
    color: #000000;
    font-weight: 500;
    background: linear-gradient(45deg, #3186af, transparent);
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    margin-bottom: 0;
}