.form_container{
    padding-top:70px !important;
    padding-bottom: 70px !important;
    display:flex;
    background: #c4d3ce;
    justify-content:center
    
}

.form_styles{
    padding:40px 40px;
    border-radius: 15px;
    background-color: #ffffff;
    border: 1px solid gray;
}

.form_styles p:first-child{
    font-weight: 600;
    font-size: 17px;
}