.cardcontainer{
    margin: 10px 34px;
  
    
    border: 0 !important;
    border-radius: 12px !important; 
    padding-right: 100px; 
    /* border-left: 2px solid #0088ff !important;   */
    /* transition:width 4s linear 4s !important ; */
    -webkit-transition: all 0.2s ease-in;
-moz-transition: all 0.2s ease-in;
-o-transition: all 0.2s ease-in;
transition: all 0.2s ease-in;
}

.cardcontainer:hover{
    cursor:pointer;
    background-color: #ffc107;
    padding-right: 100px !important;

    /* border-left: 2px solid #0088ff !important;   */
}

.cardbody{
    padding: 1.6rem 1rem !important;
    margin-left: 10px;

}

.card{
    font-family: var(--bs-font-sans-serif) !important;
}