.heading{

    font-size: 26px;
    font-weight: 300;
    color: #000000;
    width: 10.5%;
    margin-left: 33px;
    margin-bottom: 12px;
}   
.N_courses_paragraph{
    margin-left: 36px;
    font-weight: 400;
    font-size: 18px;
    color: #0088ff;
}